@model Department

@{
    ViewData["Title"] = "Create Department";
}

<h1>Create Department</h1>

<form asp-action="CreateDepartment">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>