@model IEnumerable<Department>

@{
    ViewData["Title"] = "List Departments";
}

<h1>Departments</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var department in Model)
    {
        <tr>
            <td>@department.Id</td>
            <td>@department.Name</td>
        </tr>
    }
    </tbody>
</table>