@model IEnumerable<Todo>

@{
    ViewData["Title"] = "List Todos";
}

<h1>Todos</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var todo in Model)
    {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Title</td>
            <td>@todo.User.Name</td>
        </tr>
    }
    </tbody>
</table>